<!DOCTYPE html>
<html lang="en">
<head>
<title>Parkway Motors</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link href="/static/css/parkway.css" rel="stylesheet">
<style rel="stylesheet">


	.navbar{
		margin-top: 20px;
	}
</style>
</head> 
<body>
<div class="container">
    <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Parkway Motors</a>
        </div>
        <!-- Collection of nav link-->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="Stock.html">Stock</a></li>
                <li><a href="SellMyCar.html">Sell My Car</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="Finance.html">Finance</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
           
        </div>
    </nav>
</div>

 <body>
   <!-- Form Name -->
          <div class="container text-center">
         <legend>Selling Your Car</legend> 
         </div>
         
         <form id="sellmycarform" class="form-horizontal" action="savingdata.php" method="post" ><fieldset> 
         <center>Fields marked with an asterisk (*) must be provided.</center>
           <center>Your Details.</center>
           
           

          <!-- Pre-Fix --> 
           <div class="form-group"> 
           <label class="col-md-4 control-label" for="">Title*</label> 
                <div class="col-md-4">
                <select id="Title" name="title" class="form-control"> 
                <option value="MR">Mr</option> 
                <option value="MRS">Mrs</option>
                <option value="MS">Miss</option>
                 <option value="MS">Ms</option>
                  <option value="MS">Other</option>
                </select>
               </div>
            </div> 
         <!-- Customer Name--> 
         <div class="form-group"> 
         <label class="col-md-4 control-label" for="name">Name*</label>    
         <div class="col-md-4"> 
         <input id='name' name="name" type="text" placeholder="First &amp; Last name" class="form-control input-md">
         </div> 
          </div> 
          <!-- EMAIL-->
          <div class="form-group"> 
          <label class="col-md-4 control-label" for="email">Email*</label>     
          <div class="col-md-4"> 
          <input id="email" name="email" type="text" placeholder="Your email " class="form-control input-md">
          </div>
           </div>
            <!-- Telephone-->
          <div class="form-group"> 
          <label class="col-md-4 control-label" for="telephone">Contact Number*</label>     
          <div class="col-md-4"> 
          <input id="telephone" name="telephone" type="text" placeholder="Day Phone " class="form-control input-md">
          </div>
           </div>
                     <center>Your Car Details.</center>
            <!-- Manufacturer-->
          <div class="form-group"> 
          <label class="col-md-4 control-label" for="make">Manufacturer*</label>     
          <div class="col-md-4"> 
          <input id="make" name="make" type="text" placeholder="Vehicle Make " class="form-control input-md">
          </div>
           </div>
            <!-- Model-->
          <div class="form-group"> 
          <label class="col-md-4 control-label" for="model">Model*</label>     
          <div class="col-md-4"> 
          <input id="model" name="model" type="text" placeholder="Vehicle model " class="form-control input-md">
          </div>
           </div>
            <!-- REGISTRATION-->
          <div class="form-group"> 
          <label class="col-md-4 control-label" for="registration">Registration*</label>     
          <div class="col-md-4"> 
          <input id="registration" name="registration" type="text" placeholder="Vehicle Registration " class="form-control input-md">
          </div>
           </div>
           <!-- REGISTRATION DATE--> 
           <div class="form-group"> 
           <label class="col-md-4 control-label" for="date">Vehicle First Registration*</label>   
           <div class="col-md-4"> <input id="date" name="date" type="date" placeholder="Pick a Date" 
           class="form-control input-md"> 
           </div> 
          </div> 
          <!--Comments -->
          <div class="container text-center">
          <textarea rows="4" cols="50" name="comment" id="comment" placeholder="Enter comment here..."></textarea>
          <!-- Button --> 
          <div class="form-group"> <label class="col-md-4 control-label" for="email"></label>
          <div class="col-md-4">
               <button id="submitbtn" name="submitbtn" class="btn btn-default">Submit</button> 
          </div> 
        </div> 
        </fieldset> 
        </form> 
        <a href="showdb.php"></a> 
        </body> 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>    
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/static/js/sellmycar.js"></script>
    </body>
</html>