<!DOCTYPE html>
<html lang="en">
<head>
<title>Parkway Motors</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link href="/static/css/parkway.css" rel="stylesheet">

<style type="text/css">
	.navbar{
		margin-top: 20px;
	}
</style>
</head> 
<body>
<div class="container">
    <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Parkway Motors</a>
        </div>
        <!-- Collection of nav link-->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="Stock.html">Stock</a></li>
                <li><a href="SellMyCar.html">Sell My Car</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="Finance.html">Finance</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
               </ul>
            </li>
        </ul>
    </div>
</nav>

<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="img">
  <a target="_blank" href="918.jpg">
    <img src="/static/Images/918.jpg" alt="Porsche" width="1900" height="1000">
  </a>
  <div class="desc">2015/15 PORSCHE 918 Spyder
Carrera White with Black Leather Contrast Call For More Info</div>
  <div class="archive-car-price pull-left">&pound;1,000,000</div>
</div>

<div class="img">
  <a target="_blank" href="Aventador.jpg">
    <img src="/static/Images/Aventador.jpg" alt="Aventador" width="1900" height="1000">
  </a>
  <div class="desc">2014/64 LAMBORGHINI Aventador LP 700-4 Roadster
White with Black & White Hide</div>
<div class="archive-car-price pull-left">&pound;249,995</div>
</div>

<div class="img">
  <a target="_blank" href="FF.jpg">
    <img src="/static/Images/FF.jpg" alt="Ferrari FF" width="1900" height="1000">
  </a>
  <div class="desc">2013/62 FERRARI FF
Canna di Fucile with Charcoal Grey Contrast Call, Open To Offers For More Info</div>
<div class="archive-car-price pull-left">&pound;174,995</div>
</div>

<div class="img">
  <a target="_blank" href="Rolls.jpg">
    <img src="/static/Images/Rolls.jpg" alt="Rolls" width="1900" height="1000">
  </a>
  <div class="desc">2009/59 ROLLS-ROYCE Phantom Coupe
Diamond Black with Light Grey Call For More Info</div>
<div class="archive-car-price pull-left">&pound;119,995</div>
</div>

<div class="img">
  <a target="_blank" href="911.jpg">
    <img src="/static/Images/911.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2014/64 PORSCHE 911 GT3 (991) Comfort Spec
Rhodium Silver with Black Alcantara Call For More Info</div>
<div class="archive-car-price pull-left">&pound;139,995</div>
</div>

<div class="img">
  <a target="_blank" href="Bentley.jpg">
    <img src="/static/Images/Bentley.jpg" alt="Bentley" width="1900" height="1000">
  </a>
  <div class="desc">2011/11 BENTLEY CONTINENTAL SUPERSPORTS 4 SEATER
ICE WHITE BLACK LEATHER</div>
<div class="archive-car-price pull-left">&pound;109,000</div>
</div>

<div class="img">
  <a target="_blank" href="Bentayga.jpg">
    <img src="/static/Images/Bentayga.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2016/16 BENTLEY BENTAYGA FIRST EDITION
DARK SAPPHIRE WITH LINEN HIDE</div>
<div class="archive-car-price pull-left">&pound;139,995</div>
</div>

<div class="img">
  <a target="_blank" href="California.jpg">
    <img src="/static/Images/California.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2016/65 FERRARI CALIFORNIA T
BIANCO AVUS WITH BLU STERLING Please Call For More Info</div>
<div class="archive-car-price pull-left">&pound;POA</div>
</div>

<div class="img">
  <a target="_blank" href="SLS.jpg">
    <img src="/static/Images/SLS.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2011/61 MERCEDES SLS AMG ROADSTER
LE MANS RED DESIGNO BLACK NAPPA Open To Offers</div>
<div class="archive-car-price pull-left">&pound;165,995</div>
</div>

<div class="img">
  <a target="_blank" href="Mclaren.jpg">
    <img src="/static/Images/Mclaren.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2011/61 McLAREN 12C
ICE SILVER WITH BLACK LEATHER Open To Sensible Offers</div>
<div class="archive-car-price pull-left">&pound;110,995</div>
</div>

<div class="img">
  <a target="_blank" href="Gts.jpg">
    <img src="/static/Images/Gts.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2015/65 MERCEDES-BENZ MERCEDES-AMG GT S
IRIDIUM SILVER BLACK & RED NAPPA LEATHER</div>
<div class="archive-car-price pull-left">&pound;99,995</div>
</div>

<div class="img">
  <a target="_blank" href="Spur.jpg">
    <img src="/static/Images/Spur.jpg" alt="911" width="1900" height="1000">
  </a>
  <div class="desc">2013/13 BENTLEY CONTINENTAL FLYING SPUR 2014 MODEL YEAR
ONYX BLACK WITH LINEN</div>
<div class="archive-car-price pull-left">&pound;89,995</div>
</div>

</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>    
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>

